@font-face {
	font-family: 'Clear Sans Regular';
	src: url(assets/ClearSans-Regular.ttf);
}
@font-face {
	font-family: 'Clear Sans Bold';
	src: url(assets/ClearSans-Bold.ttf);
}
html, body {
	font-family: 'Clear Sans Bold';
	--bs-body-bg: #121213;
	--bs-border-color: #3a3a3c;
	--bs-border-color-tl: #3a3a3c2b;
	overflow-x: hidden;
	height: 100%;
	
	--color-present: #b59f3b;
	--color-correct: #538d4e;
	--color-absent: #3a3a3c;
	
	--key-bg: #818384;
	--key-bg-present: var(--color-present);
	--key-bg-correct: var(--color-correct);
	--key-bg-absent: var(--color-absent);
}

body {
	display: none;
}

#wordle-main {
	/* margin-top: 35px; */
	/*display: none;*/
	/* transform-origin: top;*/
	/* position: absolute;  */
	/* top: 35px; */
	/* bottom: 35px; */
	/* width: 100%; */
	/* transform-origin: top; */
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: auto;
	transform-origin: center;
}

#wordle-header {
	font-size: 50px;
	text-align: center;
	margin-bottom: 5px;
}
.wordle-board {
	overflow: hidden;
	user-select: none;
}
.wordle-board .row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	overflow: hidden;
}
.wordle-cell {
	width: 75px;
	height: 75px;
	text-align: center;
	border: 2px solid var(--bs-border-color);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	margin: 4px;
	
	color: #00000000;
	transition: 1s;
}
.wordle-cell.selected {
	color: #f8f8f8;
	border-color: #00000000;
	transition: 1s;
}
.correct {
	background-color: var(--color-correct);
}
.present {
	background-color: var(--color-present);
}
.absent {
	background-color: var(--color-absent);
}

#player-chat {
	margin-left: auto;
	margin-right: auto;
	width: 407px;
	height: auto;
	margin-top: 10px;
	border: 1px var(--bs-border-color) solid;
	background: var(--bs-border-color-tl);
	padding: 20px;
	/* border-radius: 10px; */
	/* box-shadow: 0 0 20px 0px #3a3a3c6e; */
}

#player-name {
	font-size: 18px;
	text-align: center;
	height: 25px;
}

#player-chat-list {
	width: 100%;
	height: 200px;
	background: #121213;
	margin-top: 20px;
	border: solid 1px #3a3a3c;
	padding: 15px;
	font-size: 15px;
	overflow-y: scroll;
}
#player-chat-list::-webkit-scrollbar {
	display: none;
}

#player-chat-list .message {
	display: block;
}
#player-chat-list .message .name {
	font-family: 'Clear Sans Bold';
	overflow-wrap: anywhere;
}
#player-chat-list .message .text {
	font-family: 'Clear Sans Regular';
	overflow-wrap: anywhere;
}

#controls {
	margin-top: 10px;
}

div.modal-backdrop {
	--bs-backdrop-opacity: 0.75;
}

div.modal-dialog {
	height: auto;
	min-height: calc(100vh - 3.5rem);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}

/*div#winner-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
div#winner-menu-background {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0000003b;
}
div#winner-menu-window-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}
div#winner-menu-window {
	width: 80%;
	max-width: 580px;
	min-height: 580px;
	border: solid #5e5e5e 1px;
	padding: 20px;
	border-radius: 15px;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 20px #00000063;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}
div#winner-menu-window h2 {
	text-align: center;
	font-size: 45px;
}
div#winner-menu-window h2 {
	text-align: center;
	font-size: 55px;
} */


h5.modal-title {
	font-family: 'Clear Sans Bold';
	font-size: 30px;
}
div.modal-body {
	font-family: 'Clear Sans Regular';
	font-size: 18px;
}
div.modal-header, div.modal-body {
	padding: 1.5rem;
}

div#bs-player-modal .player {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: solid 1px var(--bs-border-color);
	border-radius: 10px;
	margin-bottom: 10px;
}
div#bs-player-modal .modal-body-content-current , div#bs-player-modal .modal-body-content-pending {
	height: 300px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: stretch;
	padding: 10px;
	border: solid 1px var(--bs-border-color);
	border-radius: 10px;
	margin-bottom: 10px;
}
div#bs-player-modal .modal-body-content-current::-webkit-scrollbar,  div#bs-player-modal .modal-body-content-pending::-webkit-scrollbar {
	display: none;
}
div#bs-player-modal .player .player-controls button:not(:first-child) {
	margin-left: 5px;
}

div#keyboard-display-center {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	touch-action: none;
	pointer-events: none;
	user-select: none;
}
@media only screen and (max-width: 545px)  {
	div#keyboard-display-center {
		display: none;
	}
}
div#keyboard-display-blocker {
	display: block;
	width: 475px;
	height: 100%;
}
div.keyboard-display-key {
	display: flex;
	background: var(--key-bg);
	width: 50px;
	height: 50px;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 10px;
	--key-shadow: #ffffff2e;
	box-shadow: 0 7px var(--key-shadow);
}
div#keyboard-display-left, div#keyboard-display-right {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: nowrap;
}
div.keyboard-display-key.correct {
	background: var(--key-bg-correct);
	--key-shadow: #538d4e4d;
}
div.keyboard-display-key.present {
	background: var(--key-bg-present);
	--key-shadow: #b59f3b4d;
}
div.keyboard-display-key.absent {
	background: var(--key-bg-absent);
	--key-shadow: #3a3a3c4d;
}