@font-face {
	font-family: "Inter";
	src: url(assets/inter-latin-variable-wghtOnly-normal.woff2);
}

:root {
	--lighten-color: #ffffff29;
	--scale: 3;
}

html,
body {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0) !important;
}

div,
span {
	font-family: "Inter";
	overflow-wrap: anywhere;
}

div.modal-dialog {
	height: auto;
	min-height: calc(100vh - 3.5rem);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}
div.modal {
	transform: scale(var(--scale));
} 

div#twitch-chat-container {
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	/* text-shadow: 0 0 50px #000000b3; */
	color: #ffffff;
}
div#twitch-chat-container::-webkit-scrollbar {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.hoverable {
	border-radius: calc(0.2rem * var(--scale));
	padding: calc(0.15rem * var(--scale)) 0;
}

.hoverable:hover {
	background-color: var(--lighten-color);
}

.emote {
	pointer-events: none;
}
.bit {
	pointer-events: none;
	font-weight: 700;
}

/* mrt-TWITCH */
div.mrt-twitch-message-line-container {
	padding: calc(0.5rem * var(--scale));
	font-size: calc(13px * var(--scale));
}

span.mrt-twitch-message-line-timestamp {
	color: #adadb8;
	margin-right: calc(1rem * var(--scale));
	display: none;
}

img.mrt-twitch-message-chat-badge {
	margin-bottom: calc(0.15rem * var(--scale));
	margin-right: calc(0.2rem * var(--scale));
	vertical-align: middle;
}

/* mrt-CUSTOM1 */
div.mrt-custom1-message-line-container {
	padding: calc(0.5rem * var(--scale));
	font-size: calc(13px * var(--scale));
}

img.mrt-custom1-message-chat-badge {
	margin-bottom: calc(0.15rem * var(--scale));
	margin-left: calc(0.2rem * var(--scale));
	vertical-align: middle;
}