@font-face {
	font-family: "Inter";
	src: url(assets/inter-latin-variable-wghtOnly-normal.woff2);
}

:root {
	--lighten-color: #ffffff29;
}

html,
body {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0) !important;
}

html {
	--scale: 3;
}

div,
span {
	font-family: "Inter";
	overflow-wrap: anywhere;
}
.nowrap,
.nowrap div,
.nowrap span {
	font-family: "Inter";
	overflow-wrap: unset;
	overflow: visible;
	white-space: pre;
}

div.modal-dialog {
	height: auto;
	min-height: calc(100vh - 3.5rem);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	overflow-y: auto;

	height: 100%;

	/* width: max-content; */
	/* max-width: 25vw; */
}

/*div.modal {
	transform: scale(var(--scale));
}*/
div.modal-dialog {
	margin: 0px;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-flow: row;
	place-content: center;
	align-items: center;
	transform: scale(0.75);
}

div.modal-content {
	width: max-content;
	max-width: 500px;
}

div.modal-body {
	max-height: 50vh;
	height: 75vh;
	overflow-y: auto;
}

div#twitch-chat-container {
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	/* text-shadow: 0 0 50px #000000b3; */
	color: #ffffff;
}

div#twitch-chat-container::-webkit-scrollbar {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.hoverable {
	border-radius: calc(0.2rem * var(--scale));
	padding: calc(0.15rem * var(--scale)) 0;
}

.hoverable:hover {
	background-color: var(--lighten-color);
}

.emote {
	pointer-events: none;
}

.bit {
	pointer-events: none;
	font-weight: 700;
}

span.msg-id-highlighted-message {
	background: #a970ff00;
	animation: msg-id-highlighted-message forwards 0.75s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes msg-id-highlighted-message {
	0% {
		background: #a970ff00;
	}

	100% {
		background: #a970ffd6;
	}
}

/* mrt-TWITCH */
div.mrt-twitch-message-line-container {
	padding: calc(0.5rem * var(--scale));
	font-size: calc(13px * var(--scale));
	transform-origin: bottom left;
}

span.mrt-twitch-message-line-timestamp {
	color: #adadb8;
	margin-right: calc(1rem * var(--scale));
	display: none;
}

img.mrt-twitch-message-chat-badge {
	margin-bottom: calc(0.15rem * var(--scale));
	margin-right: calc(0.2rem * var(--scale));
	vertical-align: middle;
}

/* mrt-CUSTOM1 */
/*

- EMOTES ARE TOO BIG
- EMOTES SOMETIMES DONT WORK
<3 Getcamped DinoDance FlawlessVictory PopNemo

window.CurrentMessageRenderingType = window.MessageRenderingType.TWITCH;
logDamp();
window.CurrentMessageRenderingType = window.MessageRenderingType.CUSTOM1;
logDamp();

- EMOTE DARK MODE NOT WORKING

*/
div.mrt-custom1-message-line-container {
	padding-left: calc(0.35rem * var(--scale));
	padding-right: calc(1.25rem * var(--scale));
	padding-top: 0;
	font-size: calc(13px * var(--scale));
	position: relative;
}

div.mrt-custom1-message-line-container>span {
	transform-origin: top left;
	transform: rotate(355deg) translateY(calc(-0.5rem * var(--scale)));
}

img.mrt-custom1-message-chat-badge {
	margin-left: calc(0.2rem * var(--scale));
	vertical-align: middle;
}

span.mrt-custom1-message-author-container {
	position: relative;
	top: calc(0.65rem * var(--scale));
	min-width: max-content;
	z-index: 2;
}

b.mrt-custom1-message-author {
	color: #ffffff;
	border-radius: calc(1rem * var(--scale));
	padding: calc(0.25rem * var(--scale)) calc(0.5rem * var(--scale));
	min-width: max-content;
	clip-path: border-box;
	position: relative;
	overflow: hidden;
}

/*b.mrt-custom1-message-author::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: #ffffffdb;
	display: block;
	height: 100%;
	transform: skew(-45deg) translateX(-135%);
	width: calc(1rem * var(--scale));
	animation: mrt-custom1-message-author-before 0.5s 0.45s cubic-bezier(0.49, 0.02, 0.43, 1.02);
}

@keyframes mrt-custom1-message-author-before {
	0% {
		left: 0;
	}

	100% {
		left: 120%;
	}
}*/

span.mrt-custom1-message-content {
	position: relative;
	background: #ffffff;
	color: #000000;
	padding: calc(0.25rem * var(--scale)) calc(0.5rem * var(--scale));
	padding-top: calc(0.85rem * var(--scale));
	border-radius: calc(0.25rem * var(--scale));
	border-top-left-radius: 0;
	min-width: 100%;
	left: calc(0.35rem * var(--scale));
	overflow: hidden;
	z-index: 1;
	clip-path: inset(0 0 100% 0);
	animation: mrt-custom1-message-content-anim-vertical 0.25s 0.15s forwards cubic-bezier(0.53, 0, 0.17, 0.98);
}

span.mrt-custom1-message-content-box {
	position: relative;
	display: block;
	clip-path: inset(0 100% 0 0);
	animation: mrt-custom1-message-content-anim-horizontal 0.25s 0.35s forwards cubic-bezier(0.53, 0, 0.17, 0.98);
}

@keyframes mrt-custom1-message-content-anim-horizontal {
	0% {
		clip-path: inset(0 100% 0 0);
	}

	100% {
		clip-path: inset(0 0% 0 0);
	}
}

@keyframes mrt-custom1-message-content-anim-vertical {
	0% {
		clip-path: inset(0 0 100% 0);
	}

	100% {
		clip-path: inset(0 0 0% 0);
	}
}

span.mrt-custom1-message-vertical-center {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}